<%- include("header"); -%>

<h2>Contact</h2>
<h3>Adress</h3>
<p>Cromwell Road <br>London SW7 5BD</p>

<h3>Visit</h3>
<p>Closed until further notice <br> Free entry</p>
<div class="footerNaarOnder"></div>

<%- include("footer"); -%>
