<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Natural History Museum</title>
    <link rel="icon" href="images/logo natural history museum.png">
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
  </head>
  <h1>Natural History Museum</h1>
  <img class="menu" src="/images/menu.png" alt="three stripes menu">
  <button class="back" type="button" name="button">Back</button>
  <nav class="onzichtbaar">
    <ul>
      <li><a class="nav" href="/">Home</a></li>
      <li><a class="nav" href="/gallery">Gallery</a></li>
      <li><a class="nav" href="/contact">Contact</a></li>
    </ul>
    <img class="hideNav" src="/images/hide_buttons.png" alt="cross">
  </nav>
  <body>
